* {
  font-family: "Roboto", sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background-size: cover;
}
canvas {
  filter: blur(1px);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("pexels-tobias-bjørkli-1938348.jpg");

  overflow: hidden;
}

h1,
h2 {
  font-family: "Orelega One";
  justify-content: center;
  text-align: center;
  margin: 5px;
}

h2 {
  margin: 0;
}

.content {
  min-height: 100vh;
  width: 1000px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.section {
  border-radius: 3px;
  width: fit-content;
  margin-bottom: 24px;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 15px 10px 15px rgb(106, 255, 0);
}

.row {
  display: flex;
  margin: 12px 24px;
  line-height: 24px;
  text-align: center;
  justify-content: space-between;
}

.row div {
  flex: 1;
}

label {
  margin-right: 12px;
}

input {
  width: 300px;
  justify-self: flex-end;
  font-size: 14px;
  height: 24px;
  background-color: rgb(17, 252, 0);
  outline: none;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
}

button {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

button:hover {
  box-shadow: 0 0 20px rgb(17, 252, 0) 8;
}

#search {
  background-color: black;
  border: 10px solid rgb(9, 255, 0);
  color: rgb(9, 255, 0);
}
#search:hover {
  background-color: rgb(9, 255, 0);
  border: 10px solid black;
  color: black;
}
